.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #02e7fc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 500px;
    margin:30px;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Paytone One', sans-serif;
  }
  
  .button:hover {background-color: #0109f3}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  
  
  .select_background {
    background-image: url('/static/css/img/World MAp topographical.jpeg');
    width: auto;
    height: auto;
  }
  .blk-etched-letters {
  /* h1, h2, h3, h4, h5, .h { */
    /* font-family: 'Caveat', cursive; */
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 1px 2px rgb(252, 250, 250), 0 0 1em blue, 0 0 0.2em blue;
  }

  .sign-up-btn {
    font-family: 'Paytone One', sans-serif;
    justify-content: center;
  }

  #select-a-cuisine {
    color:teal;
  }

  * {
    font-family: 'Paytone One', sans-serif;
    text-shadow: 1px 1px 2px rgb(255, 136, 0), 0 0 1em rgb(247, 253, 82), 0 0 0.2em rgb(0, 174, 255);

  }

  .flash-msg {
    font-family: 'Caveat', cursive;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;;
  }


.glow {
  font-size: 40px;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 2px, #0109f3ea;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0077e6, 0 0 40px #0077e6, 0 0 50px #0077e6, 0 0 60px #0077e6, 0 0 70px #0077e6;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #999, 0 0 40px #999, 0 0 50px #999, 0 0 60px #999, 0 0 70px #999, 0 0 80px #999;
  }
}

.glow_small {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0109f3, 0 0 40px #0109f3, 0 0 50px #0109f3, 0 0 60px #0109f3, 0 0 70px #0109f3;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px aqua, 0 0 40px aqua, 0 0 50px aqua, 0 0 60px aqua, 0 0 70px aqua, 0 0 80px aqua;
  }
}

/* .glow_pink {
    font-size: 30px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
   */
  /* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
} */
/* .glow_purple {
  font-size: 30px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(153, 4, 146), 0 0 40px rgb(153,4,146), 0 0 50px rgb(153,4,146), 0 0 60px rgb(153,4,146), 0 0 70px rgb(153,4,146);
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px goldenrod, 0 0 40px goldenrod, 0 0 50px goldenrod, 0 0 60px goldenrod, 0 0 70px goldenrod, 0 0 80px goldenrod;
  } 
}*/
/* input {
  flex: 0 1 100px;
} */

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  border: blue 3px;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

/* .in_line {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
} */

.navbar-custom-theme {
  background: linear-gradient(to right,#34E5FF, #3185FC, #fb81a5);
}

/* {"Dark Jungle Green":"202a25","Plump Purple":"5f4bb6","Little Boy Blue":"86a5d9","Fluorescent Blue":"26f0f1","Tea Green":"c4ebc8"} */
/* {"Honeydew":"eaf2e3","Fluorescent Blue":"61e8e1","Red Salsa":"f25757","Corn":"f2e863","Orange Yellow Crayola":"f2cd60"}
*/

.background_gradient {
  background: radial-gradient(#fff,#f2e863, #fec312)
  /* background: radial-gradient(#f25757,#f2e863, #f2cd60) */
}

.width-med {
  width: 200px;
}

.form-signin {
  margin-left: 23rem;
  margin-right: 23rem;
}
.larger {
  font-size: 28px;
}

ul {
  list-style: none;
}

footer {
  position:sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.result_image{
  height: 200px;
  width: 250px;
}

.fav-btn {
  background-color: magenta;
}
.go-to-fav {
  background-color: rgb(180, 2, 2);
}

.add-my-own {
  background-color: darkorange;
}

li {
  font-size:larger;
}