<h1>Hello</h1>
<p> This is the homepage </p>
<button class="button" type="submit" id="african">African </button>
<button class="button" type="submit" id="native_american">Native American </button>
<button class="button" type="submit" id="british">British</button>
<button class="button" type="submit" id="cajun">Cajun </button>
<button class="button" type="submit" id="caribbean"> Caribbean</button>
<button class="button" type="submit" id="chinese">Chinese </button>
<button class="button" type="submit" id="eastern european">Eastern European</button>
<button class="button" type="submit" id="european">European</button>
<button class="button" type="submit" id="french">French</button>
<button class="button" type="submit" id="german ">German</button>
<button class="button" type="submit" id="greek">Greek</button>
<button class="button" type="submit" id="indian">Indian</button>
<button class="button" type="submit" id="italian">Italian</button>
<button class="button" type="submit" id="japanese">Japanese</button>
<button class="button" type="submit" id="korean">Korean</button>
<button class="button" type="submit" id="latin_american">Latin American</button>
<button class="button" type="submit" id="mediterranean">Mediterranean</button>
<button class="button" type="submit" id="mexican">Mexican</button>
<button class="button" type="submit" id="middle_eastern">Middle Eastern</button>
<button class="button" type="submit" id="nordic">Nordic</button>
<button class="button" type="submit" id="southern">Southern</button>
<button class="button" type="submit" id="spanish">Spanish</button>
<button class="button" type="submit" id="thai">Thai</button>
<button class="button" type="submit" id="vietnamese">Vietnamese</button>
<button class="button" type="submit" id="randomn">Random</button>

<style>
    .button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
    
    .button:hover {background-color: #3e8e41}
    
    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    </style>

