<h1>Hello</h1>
<p> This is the homepage </p>
<form name="cuisine_selection" action="/results" method="POST">
  <!-- value="{{ recipes[recipe] }}">"{{ recipes[recipe].get('title') }}" -->
<button class="button" type="submit" id="african" name="africian" value="african">African </button>
<button class="button" type="submit" id="native_american" name="native american" value="native american">Native American</button>
<button class="button" type="submit" id="british" name="" value="">British</button>
<button class="button" type="submit" id="cajun" name="" value="">Cajun </button>
<button class="button" type="submit" id="caribbean" name="" value=""> Caribbean</button>
<button class="button" type="submit" id="chinese" name="" value="">Chinese </button>
<button class="button" type="submit" id="eastern european" name="" value="">Eastern European</button>
<button class="button" type="submit" id="european" name="" value="">European</button>
<button class="button" type="submit" id="french" name="" value="">French</button>
<button class="button" type="submit" id="german" name="" value="">German</button>
<button class="button" type="submit" id="greek" name="" value="">Greek</button>
<button class="button" type="submit" id="indian" name="" value="">Indian</button>
<button class="button" type="submit" id="italian" name="" value="">Italian</button>
<button class="button" type="submit" id="japanese" name="" value="">Japanese</button>
<button class="button" type="submit" id="korean" name="" value="">Korean</button>
<button class="button" type="submit" id="latin_american" name="" value="">Latin American</button>
<button class="button" type="submit" id="mediterranean" name="" value="">Mediterranean</button>
<button class="button" type="submit" id="mexican" name="" value="">Mexican</button>
<button class="button" type="submit" id="middle_eastern" name="" value="">Middle Eastern</button>
<button class="button" type="submit" id="nordic" name="" value="">Nordic</button>
<button class="button" type="submit" id="southern" name="" value="">Southern</button>
<button class="button" type="submit" id="spanish" name="" value="">Spanish</button>
<button class="button" type="submit" id="thai" name="" value="">Thai</button>
<button class="button" type="submit" id="vietnamese" name="" value="">Vietnamese</button>
<button class="button" type="submit" id="random" name="" value="">Random</button>
</form>

<style>
    .button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #02e7fc;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      width: fit-content;
      margin: 30px;
    }
    
    .button:hover {background-color: #0109f3}
    
    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    </style>

