{% extends 'base.html' %}
{% block body %}
<h1 class="center">
    IF YOU WANT TO SAVE FAVORITES 
    CREATE AN ACCOUNT!
</h1>

<!--  REDIRECT TO SIGN UP PAGE BUTTON HERE -->

<div class="center">
<form action="/" method="get">
    <button class="button glow center" type="submit" name="as_guest" class="btn btn-info">CONTINUE AS A GUEST</button>
  </form>  

  <h5 class="text-uppercase text-center center">MmMmmFoodie</h5>

<button type="button" class="button glow btn btn-primary sign-up-btn center" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Sign Up For an Account!
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Let's get you signed up!! mmmMMMmmm</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        
        <form action="/users" method="post">
          <div class="center form-group">
            <label for="user_name">Name</label>
            <input type="name" class="form-control" name="name" id="user_name" aria-describedby="emailHelp" placeholder="Enter your name here">
            <small class="form-text text-muted">This is what you liked to be called!</small>
          </div>
          <div class="center form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name='email' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Period.</small>
          </div>
          <div class="center form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="center">
          <button type="submit" class="center glow btn btn-primary">Submit</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
          
        </div>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}