{% extends 'base.html'%} {% block body %}

<div class="container center">
  <div class="row" id="player">
    <div class="col">
      <h1>Traditional Music from this cuisines region</h1>
    <iframe
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/playlist/{{recipe.playlist}}?utm_source=generator"
      width="100%"
      height="380"
      frameborder="0"
      allowfullscreen="True"
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    >
    </iframe>
    <div>
      <form action="/save_recipe" method="post">
        <!-- <button id = "recipe"  name="recipe" class="button recipeButton" type="submit" value="{{ recipe['title'] }}">"{{ recipe['title'] }}"</button> -->

        <!-- <input id="recipe" name= "recipe_btn" class="button" type="submit" value="{{ recipe.recipe_id }}">SAVE TO FAVORITES -->
        <button
          id="recipe_btn"
          name="recipe"
          class="button glow go-to-fav"
          type="submit"
          value="{{ recipe.recipe_id }}"
        >
          SAVE TO FAVORITES ❤️
        </button>
      </form>
      <form action="/" methods="get">
        <button class="button center" type="submit">
          GO BACK AND CHOOSE SOMETHING DIFFERENT
        </button>
      </form>
    </div>
  </div>
  <div class="col">
    <div id="recipe_section">
   
      <div class="glow h" id="title">{{ recipe.title }}</div>
      <div><img src="{{recipe.image}}" alt=""></div>
      <div id="cuisine">
        <h2>This cuisine is {{ recipe.cuisine }}</h2>
      </div>
      <div id="servings">
        <label for="servings"># of Servings:</label>
        <h2 name="servings">Makes {{ recipe.servings }} Servings</h2>
      </div>
      <div id="readyInMinutes">
        <label for="time">Time needed to prepare:</label>
        <h2 name="time">
          This recipe takes {{ recipe.readyInMinutes }} minutes to prepare.
        </h2>
      </div>
      <div id="ingredients">
        <ul >
        <label for="ing" class="h">Ingredients</label>
        {%  for ing in ingredients: %}
        <li class="ing-width" name="ing">{{ ing }}</li>
        {% endfor %}
      </ul>
      </div>
      <div id="instructions">
        <h2>Instructions :</h2>
        {{ recipe.instructions }}
      </div>
    </div>
  </div>






  {% endblock %}
</div>
