{% extends 'base.html'%} {% block body %}

<div class="container center">
  <h1>This playlist is the Traditional Music from that cuisines region</h1>
  <div class="row" id="player">
    <div class="col">
    <iframe
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/playlist/{{recipe.playlist}}?utm_source=generator"
      width="100%"
      height="380"
      frameborder="0"
      allowfullscreen="True"
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    >
    </iframe>
    <div>
      <form action="/save_recipe" method="post">
        <!-- <button id = "recipe"  name="recipe" class="button recipeButton" type="submit" value="{{ recipe['title'] }}">"{{ recipe['title'] }}"</button> -->

        <!-- <input id="recipe" name= "recipe_btn" class="button" type="submit" value="{{ recipe.recipe_id }}">SAVE TO FAVORITES -->
        <button
          id="recipe_btn"
          name="recipe"
          class="button glow_pink"
          type="submit"
          value="{{ recipe.recipe_id }}"
        >
          SAVE TO FAVORITES
        </button>
      </form>
      <form action="/" methods="get">
        <button class="button" type="submit">
          GO BACK AND CHOOSE SOMETHING DIFFERENT
        </button>
      </form>
    </div>
  </div>
  <div class="col">
    <div id="recipe_section">
      <h2>THIS IS THE RECIPE SECTION</h2>
      <div class="glow" id="title">{{ recipe.title }}</div>
      <div id="cuisine">
        <h2>This cuisine is {{ recipe.cuisine }}</h2>
      </div>
      <div id="servings">
        <label for="servings"># of Servings:</label>
        <h2 name="servings">Makes {{ recipe.servings }} Servings</h2>
      </div>
      <div id="readyInMinutes">
        <label for="time">Time needed to prepare:</label>
        <h2 name="time">
          This recipe takes {{ recipe.readyInMinutes }} minutes to prepare.
        </h2>
      </div>
      <div id="ingredients">
        <label for="ing">Ingredients</label>
        <h3 name="ing">{{ recipe.ingredients }}</h3>
      </div>
      <div id="instructions">
        <h2>Instructions :</h2>
        {{ recipe.instructions }}
      </div>
    </div>
  </div>

  <!-- <script>

const save_button = document.querySelector('#recipe_btn');
 
save_button.addEventListener("click", (e) => { 
    e.preventDefault();
      console.log(e.target.value, 'this is printing **********************************')
    
  })



</script> -->
  <!-- this is built into the form so not needed ...  -->
  <!-- <script>
  function choose(evt){

    console.log(evt.target.value);
    e = evt.target.value
    return e
  }
</script> -->

  {% endblock %}
</div>
